/*Phase 1 : From line number 1 to 60.*/ 
.card {
    // Functionality of the card
    /*4. We are writing perspective: 150rem property, so we can make it feel like it's coming out towards you whenever we hover over the card.*/ 
    perspective: 150rem;
    -moz-perspective: 150rem;

    /*Since, the height of the card collapses, so to get rid of that issue, we'll write another same height property and we'll also make this parent element's position relative.*/ 
    position: relative;
    height: 50rem;

    &__side {
        /*2. First, We write the given below four properties as a basic setup.*/ 
        color: #fff;
        font-size: 2rem;
        height: 50rem;
        transition: all 0.8s;
        /*After that, we go on to line number 48.*/ 
        
        /*5. Using the below property we're gonna align both front-card and back-card align together.*/ 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 0.3rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        overflow: hidden;

        &--Front {
            background-color: $color-white;
            // position: relative;
        }

        &--Back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    /*3. After writing hover effect, we write perspective for the very first parent element.
    But, Before that We'll also take care of the program line number 26 and 31*/ 
    &:hover &__side--Front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--Back {
        transform: rotateY(0deg);
    }

    //6. Styling of the front-end card 
    &__picture {
        background-size: cover;

        // setup the height of the card. 
        height: 23rem;

        // Execute styling property on the image.
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        
        /*We'll use the below both the properties only when we'll see that border property is not applied on the cards.*/ 
        // border-top-left-radius: 3px;
        // border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark), url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
        }
    }

    // 7. Styling of the card heading text takes play
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;

        /*We use the below properties to align respectively for the requirement.*/ 
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        box-shadow: none;
    }

    &__heading-span {
        /*8. We provided padding but still the padding isn't available everywhere.*/ 
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        
        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.85), rgba($color-secondary-dark, 0.85));
            width: 60%;
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($primary-color-light, 0.85), rgba($primary-color-dark, 0.85));
            width: 60%;
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.85), rgba($color-tertiary-dark, 0.85));
            width: 60%;
        }
    }

    /*9. Now, Use the below properties to style the detail elements.*/ 
    &__details {
        padding: 3rem;
        box-shadow: none;
        
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                color: $color-black;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // 10. Backside Styling
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        box-shadow: none;
    }

    &__price-box {
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 10;
    }

    @include respond(tab-port) {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &__side {
            height: auto;
            position: relative;
            border-radius: 0.3rem;
            box-shadow: none;

            &--Back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            }
        }

        &:hover &__side--Front {
            transform: rotateY(0);
        }

        &:hover &__side--Back {
            transform: rotateY(0);
        }

        // Front-side styling
        &__cta {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        &__price-box {
            margin-bottom: 8rem;
        }

        &__price-only {
            font-size: 1.4rem;
            text-transform: uppercase;
        }

        &__price-value {
            font-size: 6rem;
            font-weight: 10;
        }
    }
}