.feature-box {
    /*2. Basic setup*/ 
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 0.3rem;
    transition: all 0.2s;

    @include respond(tab-port) {
        padding: 2rem;
    }
    // box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__icon {
       /*3. Basic setup*/ 
       font-size: 6rem;
       margin-bottom: 0.5rem;
       display: inline-block;
       background-image: linear-gradient(to right, $primary-color, $primary-color-light);
       -webkit-background-clip: text;
       color: transparent;

       @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &__test {

    }

    /*4. Animations and now refer _home.scss again.*/ 
    &:hover {
        transform: translateY(-1rem);
        // box-shadow: 0 2.5rem 5rem rgba($color-black, 0.4);
    }
}