/* This is the universal change we make in CSS. What it does is that it sets the whole margin and padding back to zero to start from the beginning. Also we do set the box-shadow to box-model which neglects the margin and padding from the height and width of the box-model. Thus, makes our task easier.*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*Always remember that Google chrome default font-size is 16px. But, we want it to be 10px and we also want to keep it into percentage value bcoz we don't want to override default value set by the user.*/ 
    font-size: 62.5%;  //1rem = 10px; 10px/16px = 62.5%

    // These two approaches to write down media queries.
    // First One
    // @media (max-width: 600px) {
    //     font-size: 50%;
    // }

    // Second One(Also see mixins, where this is implemented.)
    // @include respond-phone {
    //     font-size: 50%;
    // }

    // This is another alternative, Take a look at mixin program(Recommended)
    // We are commenting down this code snippet bcoz tab-port is gonna overwrite phone code snippet, so there is no meaning.
    // @include respond(phone) {
    //     font-size: 50%;
    // }

    @include respond(big-desktop) {
        font-size: 75%;  //1rem = 12px, 12/16 = 75%
    }

    @include respond(tab-land) {
        font-size: 56.25%;  //1rem = 9px; 9/16 = 50%
    }

    @include respond(tab-port) {
        font-size: 50%;  //1rem = 8px; 8/16 = 50%
    }
}

body {
    box-sizing: border-box;

    /*Setting up the padding of the entire body as a 3rem creates the white body around the whole border.*/ 
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}