.section-about {
    /*1. First two properties are the basic setup of the about section while the last one is covering the margin and solving the whitespace issue that occurs right above about section.(Now, refer typography in base folder.)*/ 
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

    /*1. The first three properties are the basic setup we apply to the section*/ 
.section-feature {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($primary-color-light, 0.8),rgba($primary-color-dark, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;

    /*Now refer to the feature-box section in components.
    5. To perform the skew transformation and cover the whitespace, we use the two below property.*/ 
    transform: skewY(-7deg);
    margin-top: -10rem;

    /*And finally perform the below code to undo all the changes we made in the previous operation*/ 
    // Selects all the direct children of the parent element.
    & > * {
        transform: skewY(7deg);
    }
}

/*Basic Setup*/ 
.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    padding-bottom: 10px;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

/*Basic Setup*/ 
.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

/*Basic Setup for form*/ 
.section-book {
    padding: 15rem;
    background-image: linear-gradient(to right bottom, $primary-color-dark, $primary-color);
}

.book {
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, 0.9) 0%,
                                    rgba($color-white, 0.9) 50%,
                                    transparent 50%), 
                                    url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
                                    rgba($color-white, 0.9) 0%,
                                    rgba($color-white, 0.9) 65%,
                                    transparent 65%), 
                                    url(../img/nat-10.jpg);
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
                                    rgba($color-white, 0.9) 0%,
                                    rgba($color-white, 0.9) 100%,
                                    transparent 100%), 
                                    url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}